@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 246, 76, 114;
    --color-blue-light: 36, 37, 130;
    --color-blue-dark: 18, 19, 65;
    --color-text-inverted: #121341;
}

@layer components {
  .btn {
    @apply text-base bg-skin-primary text-white px-4 py-2 rounded-lg font-bold uppercase;
  }
}
