@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 246, 76, 114;
    --color-blue-light: 36, 37, 130;
    --color-blue-dark: 18, 19, 65;
    --color-text-inverted: #121341;
}

@layer components {
  .btn {
    @apply text-xs md:text-base hover:opacity-80 focus:outline-none px-4 py-2 rounded-lg font-bold uppercase transition-all duration-300;
  }

  .btn-primary {
    @apply  bg-skin-primary text-white ;
  }

  .btn-outline-primary {
    @apply border-2 border-skin-primary text-skin-primary hover:text-white hover:bg-skin-primary;
  }
}
